<h2>{{title}}</h2>

<h4>{{text}} {{date}} </h4>
Sprawdź dokładnie datę biegu!
<form class="input-group mb-3" method="POST" action="">
    <input type="date" class="input-group-tex" id="date" name="date" min="{{date}}" required/>
    <div class="input-group-append">
    <input class="btn btn-outline-dark" type="submit" value="Dodaj"/>
    </div>
</form>

